<h1 *ngIf="!switch_page">Explore the world of cocktails and make your own</h1>

<div @fadeAnimation *ngIf="!switch_page" class="container main">
  <p class="navbar-brand">Cocktails Galore</p>
  <input [(ngModel)]="cocktailName" class="form-control" paceholder="cocktail name">
  <div class="navbar">
    <button [disabled]="cocktailName===''" (click)="getCocktailData()" class="btn btn-success">Search For Cocktail</button>
    <button (click)="getRandomCocktail()" class="btn btn-success">Dora the Explorer</button>
  </div>
  <ul [@listAnimation]="cocktaildata.length">
    <div  *ngFor="let drink of cocktaildata.drinks">
      <a style="text-decoration: none;" (click)="specificDrink(drink)" href="#">
        <div class="list-group-item">
          <p>{{drink.strDrink}}</p>
          <img class="main_img" src={{drink.strDrinkThumb}} alt=""/>
        </div>
      </a>
    </div>
  </ul>
</div>


<div @fadeAnimation *ngIf="switch_page">
  <button (click)="back()" class="btn btn-danger">Back</button>
<div class="container sec">
  <p class="drink-title">{{specific_item.strDrink}}</p>
  <p class="instructions">{{specific_item.strInstructions}}</p>
  <img class="specific_img" src={{specific_item.strDrinkThumb}} alt=""/>
<div class="in">
  <p class="inTitle">Ingredients:</p>
  <p *ngIf="specific_item.strMeasure1!=null">{{specific_item.strIngredient1 +" - "+specific_item.strMeasure1}}</p>
  <p *ngIf="specific_item.strMeasure2!=null">{{specific_item.strIngredient2 +" - "+ specific_item.strMeasure2}}</p>
  <p *ngIf="specific_item.strMeasure3!=null">{{specific_item.strIngredient3 +" - "+ specific_item.strMeasure3}}</p>
  <p *ngIf="specific_item.strMeasure4!=null">{{specific_item.strIngredient4 +" - "+ specific_item.strMeasure4}}</p>
  <p *ngIf="specific_item.strMeasure5!=null">{{specific_item.strIngredient5 +" - "+ specific_item.strMeasure5}}</p>
  <p *ngIf="specific_item.strMeasure6!=null">{{specific_item.strIngredient6 +" - "+ specific_item.strMeasure6}}</p>
  <p *ngIf="specific_item.strMeasure7!=null">{{specific_item.strIngredient7 +" - "+ specific_item.strMeasure7}}</p>
  <p *ngIf="specific_item.strMeasure8!=null">{{specific_item.strIngredient8 +" - "+ specific_item.strMeasure8}}</p>
  <p *ngIf="specific_item.strMeasure9!=null">{{specific_item.strIngredient9 +" - "+ specific_item.strMeasure9}}</p>
  <p *ngIf="specific_item.strMeasure10!=null">{{specific_item.strIngredient10 +" - "+ specific_item.strMeasure10}}</p>
  <p *ngIf="specific_item.strMeasure11!=null">{{specific_item.strIngredient11 +" - "+ specific_item.strMeasure11}}</p>
  <p *ngIf="specific_item.strMeasure12!=null">{{specific_item.strIngredient12 +" - "+ specific_item.strMeasure12}}</p>
  <p *ngIf="specific_item.strMeasure13!=null">{{specific_item.strIngredient13 +" - "+ specific_item.strMeasure13}}</p>
  <p *ngIf="specific_item.strMeasure14!=null">{{specific_item.strIngredient14 +" - "+ specific_item.strMeasure14}}</p>
  <p *ngIf="specific_item.strMeasure15!=null">{{specific_item.strIngredient15 +" - "+ specific_item.strMeasure15}}</p>
</div>
</div>
</div>
